[submodule "external/StarlitLibrary"]
	path = external/StarlitLibrary
	url = https://github.com/demiurgeQuantified/StarlitLibrary.git
[submodule "external/lua-reactivex"]
	path = external/lua-reactivex
	url = git@github.com:christophstrasen/lua-reactivex.git
