[submodule "LQR/external/StarlitLibrary"]
	path = LQR/external/StarlitLibrary
	url = https://github.com/demiurgeQuantified/StarlitLibrary.git
[submodule "LQR/external/lua-reactivex"]
	path = LQR/external/lua-reactivex
	url = git@github.com:christophstrasen/lua-reactivex.git
